<div>
  <img src="../../../assets/images/users.png" id="icon" alt="User Icon" />
</div>
<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">

  <input type="text" #firstName="ngModel" [(ngModel)]="userService.selectedUser.firstName" name="firstName" placeholder="First Name"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !firstName.valid }">
  <div *ngIf="signUpForm.submitted && !firstName.valid">
    <label class="validation-message">This field is required.</label>
  </div>

  <input type="text" #lastName="ngModel" [(ngModel)]="userService.selectedUser.lastName" name="lastName" placeholder="Last Name"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !lastName.valid }">
  <div *ngIf="signUpForm.submitted && !lastName.valid">
    <label class="validation-message">This field is required.</label>
  </div>

  <input type="text" #company="ngModel" [(ngModel)]="userService.selectedUser.company" name="company" placeholder="Company">

  <input type="text" #address1="ngModel" [(ngModel)]="userService.selectedUser.logoUrl" name="logoUrl" placeholder="Logo Url">

  <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email"
  required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
  <div *ngIf="signUpForm.submitted && email.errors">
    <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
  </div>

  <input type="text" #phone="ngModel" [(ngModel)]="userService.selectedUser.phone" name="phone" placeholder="Phone"
  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !phone.valid }">
  <div *ngIf="signUpForm.submitted && !phone.valid">
  </div>

  <input type="text" #street="ngModel" [(ngModel)]="userService.selectedUser.street" name="street" placeholder="Street">

  <input type="text" #city="ngModel" [(ngModel)]="userService.selectedUser.city" name="city" placeholder="City">

  <input type="text" #state="ngModel" [(ngModel)]="userService.selectedUser.state" name="state" placeholder="State">

  <input type="text" #zip="ngModel" [(ngModel)]="userService.selectedUser.zip" name="zip" placeholder="Zip"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !zip.valid }">
  <div *ngIf="signUpForm.submitted && !zip.valid">
    <label class="validation-message">This field is required.</label>
  </div>

  <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password"
  minlength="7" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
  <div *ngIf="signUpForm.submitted && password.errors">
    <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="password.errors.minlength" class="validation-message">Enter at least 7 characters.</label>
  </div>

  <input type="submit" value="Sign Up">
</form>

<!-- Success message -->
<div class="success" *ngIf="showSuccessMessage">
  Saved successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>