<div *ngIf="invoice">
	<div class="row">
		<div class="col-md-8">
			<h3>{{invoice.user.firstName}} {{invoice.user.lastName}} ({{invoice.user.company}})</h3>
			<ul class="list-group">
				<li class="list-group-item">{{invoice.user.street}}</li>
				<li class="list-group-item">{{invoice.user.city}}</li>
				<li class="list-group-item">{{invoice.user.state}}</li>
				<li class="list-group-item">{{invoice.user.zip}}</li>
			</ul>
		</div>
		<div class="col-md-4">
			Invoice Date: {{invoice.createdAt}}<br>
			<h3>Status: {{invoice.status}}</h3>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<h4>Invoice Info</h4>
			<ul class="list-group">
				<li class="list-group-item">Service: {{invoice.service}}</li>
				<li class="list-group-item">Amount: {{invoice.price}}</li>
				<li class="list-group-item">Due Date: {{invoice.due}}</li>
			</ul>
		</div>
	</div>
</div>