<h2 class="sub-header">Invoices</h2>
<div class="table-responsive" *ngIf="invoices">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Customer</th>
        <th>Service</th>
        <th>Price</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of invoices">
        <td *ngIf="invoice.user">{{ invoice._id}}</td>
        <td *ngIf="invoice.user">{{ invoice.user.firstName}} {{ invoice.user.lastName}}</td>
        <td *ngIf="invoice.user">{{ invoice.service}}</td>
        <td *ngIf="invoice.user">{{ invoice.price}}</td>
        <td *ngIf="invoice.user">{{ invoice.status}}</td>
        <td *ngIf="invoice.user"><a href="/dashboard/invoice/detail/{{ invoice._id }}" class="btn btn-primary">Details</a> <a href="/dashboard/invoice/edit/{{ invoice._id }}" class="btn btn-default">Edit</a> <button (click)="deleteInvoice(invoice._id)" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>